* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'gandom';
    src: url('../fonts/Gandom.ttf') format('truetype'), url('../fonts/Gandom.woff') format("woff");
}

@keyframes down {
    0% {
        opacity: 0.9;
        margin-top: 5px;
    }

    100% {
        opacity: 0.1;
        margin-top: 130px;
    }
}

body {
    font-family: gandom;
}

header {
    width: 100%;
    height: 1211px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/pexels-photo-441963.jpeg');
    background-size: cover;
}

.logo {
    background-image: url('../img/logo-flat.png');
    width: 100px;
    height: 100px;
    background-size: cover;
}

.nav_menu {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 28px;
}

.container {
    margin: 0px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 30px;
}

.nav_menu li {
    display: inline-block;
    margin-left: 60px;
}

.nav_menu li:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s linear;
}

.site_tittle {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

.site_tittle a {
    background-color: rgb(75, 123, 212);
    display: inline-block;
    width: 600px;
    border-radius: 10px;
    margin-top: 20px;
}

.down {
    width: 200px;
    height: 250px;
    margin: 0px auto;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.fa-angle-down {
    font-size: 120px;
    color: #ffffff;
    animation: down 1s infinite alternate linear;
}

.category {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 200px;
    gap: 0px 5px;
    text-align: center;
    font-size: 50px;
    margin-top: 5px;
}

.category div:nth-child(1) {
    background-color: rgb(224, 64, 64);
}

.category div:nth-child(2) {
    background-color: rgb(70, 70, 218);
}

.category div:nth-child(3) {
    background-color: rgb(59, 211, 173);
}

.category div:nth-child(4) {
    background-color: rgb(224, 170, 68);
}

.category div:nth-child(5) {
    background-color: yellowgreen;
}

.category div:nth-child(6) {
    background-color: rgb(179, 47, 179);
}

main {
    margin: 0px 100px;
}

.main-title {
    text-align: center;
    background-color: lightgrey;
    max-width: 1000px;
    margin: 15px auto;
    border-radius: 5px;
}

.main-title h1 {
    font-size: 60px;
}

.contents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 400px);
    gap: 35px 15px;
}

.main-content {
    position: relative;
    background-size: cover;
    cursor: pointer;
}

.contents .main-content:nth-child(1) {
    background-image: url('../img/bootstrap.jpg');
}

.contents .main-content:nth-child(2) {
    background-image: url('../img/css.jpg');
}

.contents .main-content:nth-child(3) {
    background-image: url('../img/html.jpg');
}

.contents .main-content:nth-child(4) {
    background-image: url('../img/java.jpg');
}

.contents .main-content:nth-child(5) {
    background-image: url('../img/jquery.jpg');
}

.contents .main-content:nth-child(6) {
    background-image: url('../img/php.jpg');
}

.contents .main-content:nth-child(7) {
    background-image: url('../img/web.jpg');
}

.contents .main-content:nth-child(8) {
    background-image: url('../img/store.jpg');
}

.main-content a {
    color: white;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background-color: rgba(210, 105, 30, 0.63);
    display: none;
}

.main-content:hover a {
    display: inline-block;
}

.search-box {
    margin-top: 10px;
    width: 100%;
    height: 320px;
    padding: 150px 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/slider_new_03.jpg');
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.search-box p {
    font-size: 60px;
    color: #e68e1c;
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
    margin-bottom: 40px;
}

.search form input {
    width: 40%;
    padding: 10px;
    font-size: 40px;
    opacity: 0.7;
    border-radius: 5px;
    text-align: center;
}

.information {
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-size: 25px;
    margin: 30px 0px;
}

.info img {
    width: 300px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(60, 74, 139);
    height: 150px;
}

.contact span a i {
    margin-left: 8px;
}

.contact span:nth-child(1) {
    margin-right: 50px;
    color: #fff;
    font-size: 20px;
}

.contact span:nth-child(2) {
    margin-left: 50px;
    color: #fff;
}