*{
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family:'gandom';
    src: url('../fonts/Gandom.ttf') format('truetype')
    , url('../fonts/Gandom.woff') format("woff");
}

body{
    font-family: gandom;
}

header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) ,url('../img/pexels-photo-441963.jpeg');
    background-size: cover;
}

.logo{
    background-image: url('../img/logo-flat.png');
    width: 100px;
    height: 100px;
    background-size: cover;
}

.nav_menu{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 28px;
}

.container{
    margin: 0px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 30px;
}
.nav_menu li{
    display: inline-block;
    margin-left: 60px;
}

.nav_menu li:hover{
    border-bottom: 4px solid #fff;
    transition: all 0.2s linear;
}

.site_tittle{
    text-align: center;
    font-size: 30px;
}

.site_tittle a{
    background-color: rgb(75, 123, 212);
    display: inline-block;
    width: 600px;
    border-radius: 10px;
    margin-top: 20px;
}
